.button {
    background: $red;
    color: white;
    display: inline-block;
    font-size: $font-size-large;
    font-weight: 400;
    line-height: 1;
    margin: 0;
    padding: $s-size;
    border: none;
    text-decoration: none;
    @media (max-width: $desktop-breakpoint) {
        width: 100%;
    }
}

.button--link {
    background: none;
}

.button--secondary {
    background: #888888;
}