.header {
    background: $dark-blue;
}

.header__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: $s-size 0;
    height: 100%;
}

.header__title {
    color: white;
    text-decoration: none;
    h1 {
        margin: 0;
        @media(max-width: $desktop-breakpoint) {
            font-size: $font-size-large;
        }
    }
}

.header__links {
    @extend .header__content;
    padding: 0;
    a {
        display: flex;
        align-items: center;
    }
    img {
        height: 32px; 
        width: auto;
        @media(max-width: $desktop-breakpoint) {
            height: 24px;
        }
    }
    > * {
        padding: 0 $s-size;
    }
}
