.list-header {
    border: none;
    display: flex;
    flex-direction: column;
    padding: $s-size;
}

.list-header__title {
    font-size: 2rem;
    font-weight: bold;
}

.list-header__subtitle {
    font-size: $font-size-small;
}

.list-body {
    margin-bottom: $m-size;
    
    @media (min-width: $desktop-breakpoint) {
        margin-bottom: $l-size;
    }
}

.list-item {
    border: 1px solid darken($off-white, 7%);
    color: $dark-grey;
    display: flex;
    align-items: center;
    padding: $s-size;
    text-decoration: none;
    transition: background .3s ease;            //3 inputs: the css property to transition, the amount of time, and the function to use
    &:hover {                                   //equivalent to creating .list-item:hover for when mouse hovers over item
        background: $off-white;
    }
    >* {
        padding-right: $s-size;
    }
}

.list-item--message {
    align-items: center;
    justify-content: center;
    color: $grey;
    padding: $m-size;
    &:hover {
        background: none;
    }
}

.list-item__content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;    
}

.list-item__content--wrap {
    @extend .list-item__content;
    @media (max-width: $desktop-breakpoint) {
        width: auto;
        flex-wrap: wrap;
        > * {
                padding-right: $m-size;
        }
    }
}

.list-item__wrap {
    display: flex;
    justify-content: flex-start;
    @media (max-width: $desktop-breakpoint) {
        flex-direction: column;
    }
}

.list-item__left {
    width: 21rem;
    padding-right: $s-size;
}

.list-item__right {
    display: flex;
    align-items: center;
    > * {
        padding-left: $xs-size;
    }
}

.list-item__title {
    margin: 0;
    font-weight: 400;
}

.list-item__subtitle {
    color: $grey;
    font-size: $font-size-small;
}

.list-item__data {
    margin: $s-size 0 0 0;
    
    @media (min-width: $desktop-breakpoint) {
        margin: 0;
        padding-left: $s-size;
    }
}

