.page-header {
    background: $off-white;
    padding: $m-size 0;
    margin-bottom: $m-size;
}

.page-header__actions {
    margin-top: $m-size;
}

.page-header__title {
    font-weight: 400;
    margin: 0;
    span {
        font-weight: 700;
    }
}

.page-header--flex {
    display: flex;
    > * {
        padding-right: $s-size;
    }
}